<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打砖块v1.1</title>
    <link rel="stylesheet" href="/static/css/common_game.css">
    <link rel="stylesheet" href="/static/css/style_game.css">
</head>
<body>
<!--
<img  src="/static/images/background.jpg"/>
-->
<canvas id="canvas" width="1000" height="500"></canvas>
<div>使用左右方向键，进行移动；空格键发射小球并开始游戏，游戏结束时按空格键重置游戏；P 键暂停游戏；通关游戏后，按 N 键可进入下一关卡</div>
<div>PS:这是我转载到博客来学习的，无商业用途。觉得喜欢请资瓷原作者：<a href="https://github.com/yangyunhe369/h5-game-blockBreaker">https://github.com/yangyunhe369/h5-game-blockBreaker</a>
</div>
<script src="/static/js/common.js"></script>
<script src="/static/js/scene.js"></script>
<script src="/static/js/game.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>