<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style type="text/css">
        body {
            background-image: url(/static/gp.png);
            /*设置网页的背景图片*/
            background-repeat: no-repeat;
            /*设置背景图像平铺*/
            background-position: 0px 0px;
            /*用像素值控制背景图像的位置*/
            background-attachment: fixed;
            /*设置背景图像的位置固定*/
        }
    </style>
</head>

<body>
    <h1>注册页面</h1>
    {# # Django的form的作用：#} {## 1、生成html标签#} {## 2、用来做用户提交的验证#}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{uf.as_p}}
        <input type="submit" value="OK" />
    </form>
    <a href="{% url 'index' %}">返回主页</a> {# <a href="{% url 'blog:login'  %}">登陆</a>#}
</body>

</html>