<!DOCTYPE html>
<html>

<head>
    <title>达摩院222分院招新</title>
    <meta http-equiv="Content-Type" Content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min_zx.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index_zx.css">
</head>

<body>
<div class="container-fluid main">
    <div class="col-md-12 col-xs-12 top">
        <div id="start" style="display: none;">
            <h2>通信创新基地<br/>纳新开启</h2>
            <h3 style="letter-spacing:5px">JOIN US</h3>
            <h3>期待你的加入</h3>
            <h3><a href="#ju">
                <button type="button" class="btn btn-danger" style="margin-top:1.8rem;border:0;background: #c2002d">
                    立刻报名
                </button>
            </a>
            </h3>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 " style="padding: 0">
        <div class="col-md-12 col-xs-12 " style="margin-top: 2rem">
            <div class="intro" style="border-bottom:2px solid #c20064">
                <h3>
                    通信创新基地
                </h3>
            </div>
            <p class="intro_p">
                通信创新基地，位于桂林电子科技大学花江校区科技楼218，是我校与
                <b>华为、中兴及美国国家仪器共建实验室。</b><br/>实验室主要是在我校两位教授指导下，成员通过自主学习，积极参加科技比赛，培养个人专业素养、学习能力及课外创新能力。<br/>
                实验室以参加“大创”为主，<b>拥有数项国家级大创项目，</b>同时成员也积极其他各类比赛。<br/>实验室兼容性强，成员可自主选择学习方向。擅长软件或硬件的学长学姐众多，每年都有学长学姐得到保研名额，遇到学习上的难题时，都可以找学长学姐帮忙。
            </p>

        </div>

        <div class="col-md-12x col-xs-12 " style="padding: 0;margin-top: 2rem;margin-bottom: 2rem">
            <img src="/static/QR_ZX.png" style="width: 100%">
            <img src="/static/ZX1.png" style="width: 100%">
            <img src="/static/ZX2.png" style="width: 100%">
            <img src="/static/ZX3.png" style="width: 100%">

        </div>

        <div class="col-md-7 col-xl-12 pics">
            <div class="intro" style="border-bottom:2px solid #005bc2">
                <h3>
                    实验室的日常
                </h3>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item picitem active">
                        <img src="/static/ZX10.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX4.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX5.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX6.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX7.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX8.jpg" alt="...">
                    </div>
                    <div class="item picitem">
                        <img src="/static/ZX9.jpg" alt="...">
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12 " style="padding: 0;">
            <div id="ju" class="intro" style="border-bottom:2px solid #00c29e">
                <h3>
                    加入我们
                </h3>
            </div>

            <img src="/static/q.jpg" style="width: 100%">

        </div>

    </div>
</div>


<footer class="bs-docs-footer" style="margin-top: 0">
    <div class="col-md-12">
        <p>
            <em>Copyright © 2020 达摩院222分院-Saher</em>
        </p>

    </div>
</footer>


</body>

</html>
<script type="text/javascript" src="/static/js/jquery.min_zx.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min_zx.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#start").fadeIn(800);
        $('.carousel').carousel({
            interval: 1500
        })

    })


</script>